console.log('click');
$('#results').empty();
$('#results').append( "<p>Дані з датою від: <%= params[:start_data] %></p>" );
$('#results').append( "<p>Кількість користувачів у відповіді: <%= @users_count %></p>" );
$('#results').append( "<p>Сумма всіх кешбеків: <%= @all_sum %></p>" );
$('#results').append( "<p>Кількість заявок готових до виведення: <%= @ready_to_withdrawal %></p>" );
54545454first