<br><br><br><br><br><br><br><br><br><br>
<p>Кількість користувачів у відповіді: <%= @users_count %></p>
<p>Сумма всіх кешбеків: <%= @all_sum %></p>
<p>Кількість заявок готових до виведення: <%= @ready_to_withdrawal %></p>