$("#notice-wraper").remove();
$('#withdrawalModal').append(
    '<div id="notice-wraper" class="ms-5"><div id="alert"><% @errors.each do |e| %><%= simple_format(e) %><%end%></div></div>'
                    );
