console.log("click");
console.log("<%= @errors %>");
$('#spline').append(
    '<div id="notice-wraper"><div id="alert"><% @errors.each do |e| %><%= e + "\n" %><%end%></div></div>'
                    );