<section class="agreement-wrap">
  <div class="container">
    <ol class="breadcrumb offer-detail pt-3 pb-3">
      <%= link_to "Головна", root_path, class: "breadcrumb-item" %>
      <li class="breadcrumb-item active" aria-current="page">Угода корситувача</li>
    </ol>
    <div class="offer-detail mb-4">
      <h3 class="mb-3 mt-3">Угода корситувача</h3>
      <h5 class="font-weight-bold">1. Загальні положення Угоди</h5>
      <p>1.1 Реєструючись на сервісі Ви автоматично підтверджуєте призначені для користувача угоди.</p>
      <h5 class="font-weight-bold">2. Загальні умови користування Сервісом</h5>
      <p>2.1 Використання функціональних можливостей Сервісу допускається тільки після проходження Користувачем
        реєстрації та авторизації на Сайті відповідно до встановленої Адміністрацією процедурою.</p>
      <p>2.2 Введені Користувачем дані достатньою інформацією для доступу Користувача на Сайт.
        Користувач не має права передавати свої дані для входу на Сайт третім особам, а також несе повну відповідальність за їх
        збереження, самостійно вибираючи спосіб їх зберігання.</p>
      <h5 class="font-weight-bold">3. Гарантії Користувача</h5>
      <p>3.1 Ми гарантуємо виконання наших послуг і стабільні виплати грошових коштів при дотриманні Вами рекомендацій і
        Користувальницьких угод сервісу.</p>
      <p>3.2 Ми гарантуємо, що ваші дані не потраплять третім особам.</p>
      <h5 class="font-weight-bold">4. Обмеження</h5>
      <p>4.1 Забороняється передавати email і пароль третім особам, в іншому випадку ми не можемо гарантувати
        що кошти потраплять в результаті на ваш рахунок</p>
      <h5 class="font-weight-bold">5. Повідомлення</h5>
      <p>5.1 Повідомлення від Адмінстрації для користувача відбувається за допомогою листів на пошту від
        cback.club@gmail.com (і не від якогось іншого).</p>
      <h5 class="font-weight-bold">6. Cookies</h5>
      <p>6.1 Наш веб-сайт використовує так звані файли сookies. Файли cookies - це невеликі файли, які завантажуються
        на ваш комп'ютер і допомагають забезпечити нормальне і безпечне функціонування веб-сайту.</p>
      <p>6.2 Ми не несемо відповідальності за зібрані cookies сторонніми сервісами аналітики.</p>
      <p>6.3 Всі зібрані нами cookies не передаються третім особам і використовуються для оптимізації роботи сервісу.</p>
    </div>
  </div>
</section>