<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= image_pack_tag("media/images/Screenshot from 2021-01-07 20-37-24.png") %>
<h1>Example heading <span class="badge bg-secondary">New</span></h1>