<section class="form-wrap text-center">
  <div class="container custom-container">
    <h2 class="text-center display-3">Ooops!!!</h2>
    <p class="font-weight-bold">Щось пішло не так</p>
    <div class="errors-img"><%= image_pack_tag("media/images/robot.svg") %></div>
    <div class="display-2 font-weight-bold text-center">500</div>
    <div class="text-center">
      <p>Ми вже займаємось вирішенням проблеми!</p>
      <p>Спробуйте зайти пізніше</p>
    </div>
  </div>
</section>