.btn-group {
  vertical-align: baseline !important;
}

.btn-custom {
  padding: .5vh 2vh;
  font-size: 1.866vh;
  line-height: 3vh;
  text-transform: uppercase;
  margin: 0 1vh 0 0;
  border-radius: 5px !important;
  border: 2px solid #F8FF13;
  transform: skewX(-16deg);
  display: inline-block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.btn-custom-lg {
  font-size: 2vh;
  padding: 1vh 1.4vh;
  font-weight: 800;
}

.btn-custom-sm {
  font-size: 1.4vh;
  padding: 0 .5vh;
  font-weight: 800;
  line-height: 3vh;
  display: inline-flex;
}

.btn-custom:hover {
  transition: .6s;
  box-shadow: 0 0 18px #f8ff13;
  background-color: #f8ff13 !important;
}

.btn-custom a {
  color: black !important;
}

.btn-custom a:hover {
  text-decoration: none !important;
}

.btn-main-color {
  color: #000000;
  background-color: #F8FF13;
}

.btn-secondary-color {
  background-color: transparent !important;
  color: #4499D1 !important;
  border: 2px solid #4499D1 !important;
}

.btn-secondary-color:hover {
  background-color: #4499D1 !important;
  color: #ffffff !important;
  border: 2px solid #4499D1 !important;
  box-shadow: none !important;
}

.btn-transparent {
  color: black !important;
  background-color: transparent;
}

.btn-link a:hover {
  background-color: transparent !important;
  color: white !important;
}

.fav-btn {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px;
  line-height: 1.1;
  border-radius: 30px;
  background-color: #000000;
  box-shadow: 1px 4px 4px 1px #bdbdbd5e;

  :hover {
    box-shadow: none;
  }

  a {
    color: #f8ff13 !important;
    font-size: 16px;
  }
}

.btn-search {
  position: absolute;
  right: 0;
  color: white;
  background-color: transparent;
  border: none;
  top: 10px;
  font-size: 18px;
}

.btn-categories {
  padding: 1vh 1.4vh;
  border-radius: 25px;
  border: 2px solid #4499D1;
  display: inline-block;
  margin: 2px 0;
}

.btn-categories:hover {
  transition: .5s;
  background-color: white !important;
}