.btn-custom {
  padding: .5vh 2vh;
  font-size: 1.866vh;
  line-height: 3vh;
  text-transform: uppercase;
  margin: 0 1vh 0 0;
  border-radius: 5px !important;
  border: 2px solid #F8FF13;
  transform: skewX(-16deg);
  display: inline-block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-style: italic;
}
.btn-custom-lg {
  font-size: 2vh;
  padding: 1vh 1.4vh;
  font-weight: 800;
}
.btn-custom:hover {
  transition: .6s;
  box-shadow: 0 0 18px #f8ff13;
  background-color: #f8ff13 !important;
}
.btn-custom a {
  color: black !important;
}
.btn-custom a:hover {
  text-decoration: none !important;
}
.btn-main-color {
  color: #000000;
  background-color: #F8FF13;
}
.btn-secondary-color {
  background-color: transparent !important;
  color: #4499D1 !important;
  border: 2px solid #4499D1 !important;
}
.btn-secondary-color:hover {
  background-color: #4499D1 !important;
  color: #ffffff !important;
  border: 2px solid #4499D1 !important;
  box-shadow: none !important;
}
.btn-transparent {
  color: black !important;
  background-color: transparent;
}
.btn-link a:hover {
  background-color: transparent !important;
  color: white !important;
}