a {
  color: black !important;
}
a:hover {
  text-decoration: none;
  color: black;
  background-color: transparent !important;
}
.btn-link a:hover {
  background-color: transparent !important;
  color: white !important;
}
