body {
  background-color: #fff;
  color: #333;
  margin: 33px;
}

body, p, ol, ul, td {
  //font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice, #alert {
  color: #000000;
  position: absolute;
  font-weight: bolder;
  top: 85px;
  right: 10px;
  max-width: 300px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  box-shadow: 1px 4px 4px 1px #bdbdbd5e;
  background-color: #00ff4e85;
}

#alert {
  background-color: #ff0000ad;
  color: white;
}

.field_with_errors {
  padding: 1px;
  background-color: #e88080;
  width: 100%;
  display: table;
  color: white;
}

#error_explanation {
  width: 100%;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #e88080;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: circle;
}

label {
  display: block;
}
