.form-inline {
  position: relative;
  min-width: 350px;
  border-bottom: 2px solid #ffffff;
}
.form-control {
  min-width: 300px;
  padding: .5vh 2vh;
  font-size: 1.866vh;
  line-height: 3vh;
  margin: 0 1vh 0 0;
  border-radius: 0 !important;
  background-color: #4499d1;
  color: white;
  border: none;
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  position: relative;
}
.form-control::placeholder {
  color: #ffffff;
  opacity: 1;
}
.form-control:focus {
  color: #ffffff;
  background-color: #4499d1;
  border-color: #4499d1;
  outline: 0;
  box-shadow: none !important;
}
.easy-autocomplete input {
  border-color: #4499d1;
  border-radius: 0 !important;
  border-style: none !important;
  border-width: 0;
  box-shadow: none !important;
  color: #f8ff14 !important;
  float: none;
  padding: 6px 12px;
}
.dropdown-menu {
  top: 10px !important;
  font-size: .8rem !important;
  box-shadow: 1px 4px 4px 1px hsl(0deg 0% 74% / 37%);
}
@media (max-width: 720px) {
  .search-desktop {
    display: none;
  }
}
