<% if current_user %>
  <section class="home-section-register">
      <%#= render 'categories/categories' %>
      <%= render 'offers/offers' %>
    <div class="digg_pagination">
      <%= will_paginate @offers %>
    </div>
  </section>
<% else %>
  <section class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <h1 class="text-left mt-4">Повертаємо до 60% від вартості покупок в популярних інтернет-магазинах</h1>
          <%= link_to (fa_icon "user-o", text: "Обрати магазин"), root_path, class: "btn-custom btn-main-color btn-custom-lg mt-4 mb-4", method: :get %>
        </div>
        <div class="col-sm-12 col-lg-6 text-center">
          <%= image_pack_tag("media/images/img-main_1.svg") %>
        </div>
      </div>
    </div>
  </section>
<% end %>
