<section class="offer-detail-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-4">
        <div class="offer-detail mb-4 text-center">
          <div class="offer-img-details">
            <%= image_tag @offer.image if @offer.image.present? %>
          </div>
          <%= link_to (fa_icon "user-o", text: "В магазин"), root_path, class: "btn-custom btn-secondary-color btn-custom-lg mt-2 mb-2", method: :get %>
        </div>
      </div>
      <div class="col-sm-12 col-lg-8">
        <div class="offer-detail pt-3 mb-4">
          <h3>Кешбек в магазині: <strong><%= @offer.name %></strong></h3>
          <div>
            <%== @offer.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
