<section class="categories-wrap">
  <% Category.all.each do |category| %>
    <%= link_to category_path(category) do %>
      <div class="categories-list btn-categories">
        <%= image_tag(category.category_icon) if category.category_icon.present? %>
        <%= category.name %>
      </div>
    <% end %>
  <% end %>
</section>