<p>Hello <%= @resource.email %>!</p>

<p>Хтось намагається змінити ваш пароль. Якщо це були ви, для зміни паролю використайте лінк.</p>

<p><%= link_to 'Змінити пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Якщо запит робили не ви, будь-ласка ігноруйте це повідомлення.</p>
