<div class="dropdown btn-group">
  <a class="btn-custom btn-main-color dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="far fa-user"></i>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to user_path(current_user.id), class: "dropdown-item", method: :get do %>
      <i class="far fa-user"></i> Мій кабінет
    <% end %>
    <%= link_to favorites_path, class: "dropdown-item", method: :get do %>
      <i class="fas fa-star"></i> Обрані магазини
    <% end %>
    <%= link_to admin_panel_path, class: "dropdown-item", method: :get do %>
      <i class="fas fa-database"></i> Адмінпанель
    <% end %>
    <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
      <i class="fas fa-sign-out-alt"></i> Вихід
    <% end %>
  </div>
</div>