<p><strong>Рекомендації щодо отримання кешбеку</strong></p>
<p>Для отримання Кешбек необхідно дотримуватися таких правил:</p>
<ol>
  <li>Вимкніть adblock або інші розширення блокують рекламні посилання</li>
  <li>Вимкніть розширення сторонніх Кешбек-сервісів</li>
  <li>Додайте товар в корзину після переходу на сайт магазину</li>
  <li>Сплатіть товар протягом однієї сесії (6 годин)</li>
  <li>Використовуйте один пристрій для здійснення покупки</li>
  <li>Оформіть покупку в одній вкладці</li>
  <li>Вимкніть антивіруси блокують рекламні посилання</li>
</ol>